body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}


/*Custom css for explanation selection*/
.explain_content h4{
    display: block;
}

.img_grid_container {
    /* border-top: 3px dashed #818181; */
    display: flex; /* This activates Flexbox */
    align-items: center; /* This vertically centers the content within the container */
}

.img_grid_item {
    width: 75px; /* Width of each box */
    height: 75px; /* Height of each box */
    margin: 0.5px; /* Spacing between boxes */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.img_select img{
    opacity: 0.3;
    width: 50px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transform */
}

.img_select img:hover{
    opacity: 1.0;
    transform: scale(1.1); /* Slight zoom on hover */
}

.main_image{
    position: relative;
    margin-left: calc(50% - 112px);
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
}

div.selected{
    opacity: 100%;
    border-bottom: 3px solid #5AB2FF;
}

div.selected img{
    opacity: 1.0;
}

img.selected_p {
    opacity: 1.0;
}

.masked_container{
    position: relative;
}

.interpret_container{
    position: relative;
    height:fit-content;
}

.prototype_grid_container {
    display: flex; /* This activates Flexbox */
    justify-content: space-around;
    align-items: center; /* This vertically centers the content within the container */
    margin-top: 50px;
}

.prototype_grid_item {
    width: 150px; /* Width of each box */
    height: 150px; /* Height of each box */
    margin: 1px; /* Spacing between boxes */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
}

.prototype_grid_item img{
    border-radius: 4px;
}


.hidden{
    opacity: 0;
}

.overlay {
    position: absolute; 
    left: calc(50% - 112px);
    opacity: 0.0; /* Hide overlay initially */
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
    border-radius: 4px;
}