body {
    font-family: Google Sans, sans-serif;
    font-size: 16px;
}

a {
    color: #0563bb;
    text-decoration: none;
}

.paper_title h2{
    text-align: center;
    font-size: 48px;
}

.paper_title p{
    text-align: center;
    font-size: 18px;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}

.fade-in-img {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar a:hover {
    transition: color 0.3s ease;
    color: #007bff !important;
}

section{
    padding-left: 24px;
    padding-right: 24px
}

.section-title {
    text-align: center;
    padding-top: 36px;
}

/* .section-title {
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
} */

.section-title h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}
  
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
}

.center{
    text-align: center;
}

.external_link{
    color:white;
    font-size: 16px;
    background-color: #363636;
    padding-left: calc(1.5em);
    padding-right: calc(1.25em);
    padding-top: calc(.75rem - 1px);
    padding-bottom: calc(.5rem - 1px);
    border-radius: 290486px;
    border-color:transparent;
    border-width: 1px;
    margin-right: 4px;
    height: 32em;
}

.external_link:hover {
    text-decoration: underline;
}

.external_link span i{
    margin-right:4px;
    margin-left:calc(-.5em - 1px);
    font-size:18px;
}

.link_block{
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    vertical-align: middle;
}
